@model BlogCore.Models.ViewModels.ArticuloViewModel

@{
    ViewData["Title"] = "Crear Articulo";
}


<br />

<br />

<h3 class="text-center">Crear una nuevo Articulo</h3>

<form asp-action="Create" method="post">
    <div class="row px-2 offset-1 border">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="col-10 offset-1 mt-4">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Articulo.Nombre"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Articulo.Nombre" class="form-control" placeholder="Nombre" />
                    <span asp-validation-for="Articulo.Nombre" class="text-danger"></span>
                </div>
            </div>


            <br />

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Articulo.Descripcion"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Articulo.Descripcion" class="form-control" placeholder="Orden" />
                    <span asp-validation-for="Articulo.Descripcion" class="text-danger"></span>
                </div>
            </div>
            <br />



            <div class="form-group row">
                <div class="col-4">
                    <label for="Categoria">Categoría</label>
                </div>
                <div class="col-8">
                   @Html.DropDownListFor(l => l.Articulo.CategoriaId,Model.ListaCategorias,"Seleccione una categoría",new {@class="form-control"})
                   <span asp-validation-for="Articulo.CategoriaId" class="text-danger"></span>
                </div>
            </div>
            <br />


            <br />
            <div class="form-group-row">
                <div class="col-8">
                    <partial name="_VistaCrearVolver" />
                </div>
            </div>
            <br />

        </div>
    </div>

</form>


@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}